@model List<LayeredSolution.BusinessLayer.ProductModel>
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <td>Cikkszám</td>
                    <td>Cikknév</td>
                    <td>Ár</td>
                    <td>Mennyiség</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model)
                {
                    <tr>
                        <td>@product.ProductNo</td>
                        <td>@product.Name</td>
                        <td>@product.Price</td>
                        <td>
                            @using (Html.BeginForm())
                {
                                <input type="hidden" name="productId" value="@product.Id" />
                                <input type="number" name="quantity" />
                                <button type="submit">Kosárba</button>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-12">
        @using (Html.BeginForm("SubmitOrder", "Home"))
        {
            <span>Termékek száma: @ViewBag.Count</span><text>&nbsp;</text><span>Fizetendő: @ViewBag.Price</span>
            <br/>
            <label for="buyerName">Név:</label>
            <input type="text" name="buyerName" id="buyerName"/>
            <br />
            <label for="buyerEmail">Email:</label>
            <input type="text" name="buyerEmail" id="buyerEmail" />
            <br />
            <label for="buyerAddress">Cím:</label>
            <input type="text" name="buyerAddress" id="buyerAddress" />
            <br />
            <button type="submit">Megrendel</button>
        }
    </div>
</div>